header,
.project:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

.dollar-amount {
  color: #056605;
  font-weight: bold;
  margin-left: -5px;
}
.comment-form {
  margin-bottom: 5%;
}

.comment {
  padding: 1%;
  margin-bottom: 1%;
}

.comment:nth-child(odd) {
  background-color: #fff5eb;
}

.comment .meta {
  font-size: 90%;
  margin-bottom: 0.5%;
  opacity: 0.6;
}

.buttons {
  display: flex;
  /* display: inline-block; */
  justify-content: space-around;
  width: 100%;
}
.comment-list {
  margin: auto;
}
.comment-list h5 {
  text-align: center;
}
.row-list {
  justify-content: center;
  text-align: center;
}
